/* font and icons import */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* reset and font-family setting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

#searchWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: rgba(255, 192, 203, 0.562);
}

#contentWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0em 1em 0em;
    background-color: rgba(127, 255, 212, 0.619);
}

table{
    table-layout: fixed;
    width: 100%;
}

th{
    padding: 1em;
}

td{
    border: 1px solid black;
    padding: 0.5em 1em 0.5em;
    min-width: 10em;
}

tfoot p{
    padding: 0.5em;
}
.thirty{
    width: 30%;
}

.seventy{
    width: 70%;
}